<div id="sidebar">
	<ul class="sidebar">
		<li class="widget hi">
			<p>
				You're diving deep into <strong>WMD</strong>.
			</p>
			<p>
				<a href="http://github.com/ChadBurggraf/wmd">Check it out on <strong>GitHub</strong> &raquo;</a><br/>
				<a href="/projects">Get back to the projects list &raquo;</a>
			</p>
		</li>
		<li class="widget guide">
			<h4><span>Usage Guide Subjects</span></h4>
			<ul>
				<li>
					<a title="Demo &amp; Installation" href="demo-and-installation.html">Demo &amp; Installation</a>
				</li>
				<li>
					<a title="Customization" href="customization.html">Customization</a>
				</li>
			</ul>
		</li>
		{% include search-widget.html %}
	</ul>
</div>