<div id="sidebar">
	<ul class="sidebar">
		<li class="widget hi">
			<p>
				You're diving deep into <strong>SThreeQL</strong>.
			</p>
			<p>
				<a href="http://github.com/ChadBurggraf/sthreeql">Check it out on <strong>GitHub</strong> &raquo;</a><br/>
				<a href="/projects">Get back to the projects list &raquo;</a>
			</p>
		</li>
		<li class="widget guide">
			<h4><span>Usage Guide Subjects</span></h4>
			<ul>
				<li>
					<a title="Configuration" href="configuration.html">Configuration</a>
				</li>
				<li>
					<a title="Running from the Command Line" href="running-from-the-command-line.html">Running from the Command Line</a>
				</li>
				<li>
					<a title="Installing the Service" href="installing-the-service.html">Installing the Service</a>
				</li>
			</ul>
		</li>
		{% include search-widget.html %}
	</ul>
</div>