<div id="sidebar">
	<ul class="sidebar">
		<li class="widget hi">
			<p>
				You're diving deep into <strong>Tasty Libraries</strong>.
			</p>
			<p>
				<a href="https://github.com/ChadBurggraf/tasty">Check it out on <strong>GitHub</strong> &raquo;</a><br/>
				<a href="/projects">Get back to the projects list &raquo;</a>
			</p>
		</li>
		<li class="widget guide">
			<h4><span>Usage Guide Subjects</span></h4>
			<ul>
				<li>
					<a title="Background Jobs" href="background-jobs.html">Background Jobs</a>
				</li>
				<li>
					<a title="URL Tokens" href="url-tokens.html">URL Tokens</a>
				</li>
				<li>
					<a title="Geocoding" href="geocoding.html">Geocoding</a>
				</li>
				<li>
					<a title="HTTP Redirects" href="http-redirects.html">HTTP Redirects</a>
				</li>
			</ul>
		</li>
		{% include search-widget.html %}
	</ul>
</div>