<div id="sidebar">
	<ul class="sidebar">
		<li class="widget bye">
			<p>
				For some reason, you seem to be interested in learning more about me.
				This is dangerous. Don't say I didn't warn you.
			</p>
			<p>
				<a href="/">Get me outta here »</a>
			</p>
		</li>
		<li class="widget about">
			<h4><span>Me And My Wares</span></h4>
			<ul>
				<li>
					<a title="I am. Am I?" href="/about">About Me</a>
				</li>
				<li>
					<a title="About This Site" href="/about/about-this-site.html">About This Site</a>
				</li>
				<li>
					<a title="My Résumé" href="/about/resume.html">My Résumé</a>
				</li>
				<li>
					<a title="Email me at chad.burggraf@gmail.com" href="mailto:chad.burggraf@gmail.com">Get In Touch</a>
				</li>
			</ul>
		</li>
		{% include search-widget.html %}
	</ul>
</div>