<div id="sidebar">
	<ul class="sidebar">
		<li class="widget hi">
			<p>
				Hi, my name is Chad and I'm a software developer.
				If this girl can't get with the program, I'm calling <em>next</em>.
			</p>
			<p>
				<a href="/about">Find out something real about me »</a>
			</p>
		</li>
		<li class="widget projects">
			<h4><a href="/projects" title="All my codes are belong to you">Projects</a></h4>
			<ul>
				<li>
					<a title="Virtual Keychain" href="/projects/virtual-keychain.html">Virtual Keychain</a>
				</li>
				<li>
					<a title="Tasty Libraries" href="/projects/tasty-libraries/">Tasty Libraries</a>
				</li>
				<li>
					<a title="SThreeQL" href="/projects/sthreeql/">SThreeQL</a>
				</li>
				<li>
					<a title="Kayjax" href="/projects/kayjax.html">Kayjax</a>
				</li>
				<li>
					<a title="SWFClipboard" href="/projects/swfclipboard.html">SWFClipboard</a>
				</li>
				<li>
					<a title="WMD" href="/projects/wmd.html">WMD</a>
				</li>
			</ul>
		</li>
		<li class="widget articles">
			<h4><a href="/archive.html" title="Check out all my awesome info porn">Articles</a></h4>
			<ul>
				{% for post in site.posts limit:10 %}
				<li>
					<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
				{% if site.posts.count > 10 %}
				<li class="all">
					<a href="/archive.html" title="Check out more awesome info porn">Even more articles &raquo;</a>
				</li>
				{% endif %}
			</ul>
		</li>
		{% include search-widget.html %}
	</ul>
</div>